<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph metadata for social media sharing -->
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="Find Roblox Jailbreak private servers to connect with other traders and players. Join a server to trade, chat, and play with other Jailbreak fans!"
    />
    <meta
      property="og:image"
      content="/assets/logos/Private_Servers_Logo.webp"
    />
    <meta property="og:site_name" content="Jailbreak Changelogs Servers Page" />
    <meta
      property="og:url"
      content="https://testing.jailbreakchangelogs.xyz/servers"
    />
    <meta property="og:type" content="website" />

    <!-- Additional metadata for SEO -->
    <meta
      name="description"
      content="Find Roblox Jailbreak private servers to connect with other traders and players. Join a server to trade, chat, and play with other Jailbreak fans!"
    />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta
      name="twitter:image"
      content="/assets/logos/Private_Servers_Logo.webp"
    />

    <title><%= title %></title>

    <link rel="canonical" href="https://testing.jailbreakchangelogs.xyz/" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="styles/servers.css" />
    <link rel="stylesheet" href="styles/main.css" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KM853GJ6");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KM853GJ6"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- prettier-ignore -->
    <%- include('partials/nav') %>
    <%- include('partials/announcement') %>
    <div class="container my-4">
      <div class="title-container">
        <h1 class="page-title">Roblox Jailbreak Private Servers</h1>
      </div>
      <div id="serverList" class="row g-4">
        <!-- Servers will be loaded here -->
        <div class="text-center" id="loading">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/servers.js"></script>

    <script
      async
      src="https://fundingchoicesmessages.google.com/i/pub-8152532464536367?ers=1"
    ></script>
    <script>
      (function () {
        function signalGooglefcPresent() {
          if (!window.frames["googlefcPresent"]) {
            if (document.body) {
              const iframe = document.createElement("iframe");
              iframe.style =
                "width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;";
              iframe.style.display = "none";
              iframe.name = "googlefcPresent";
              document.body.appendChild(iframe);
            } else {
              setTimeout(signalGooglefcPresent, 0);
            }
          }
        }
        signalGooglefcPresent();
      })();
    </script>
    <%- include('partials/footer') %>
  </body>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8152532464536367"
    crossorigin="anonymous"
  ></script>
</html>
